<h1>Editing message</h1>

<% title "Edit Message" %>
 
<%= render :partial => 'form' %>
 
<p>
  <%= link_to "Show", @message %> |
  <%= link_to "View All", messages_path %>
</p>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>