<h1>Listing messages</h1>

<table id="hor-minimalist-b">
  <tr>
	<th>From</th>
    <th>Message</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
	<td width=30% ><%=h message.from_email %></td>
    <td><b><%= link_to message.subject, user_message_path(current_user, message) %></b> - <%=h truncate(message.body, :length => 50) %></td>
	

    <td><%= link_to "Show", user_message_path(current_user, message) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_user_message_path(current_user) %>