<div class ="red"><%= flash_messages %></div>

<h1>Your Sent Messages</h1>

<table id="hor-minimalist-b">


<% @messages.each do |message| %>
  <tr>

    <td><b><%= link_to truncate(message.subject, :length => 20), user_message_path(current_user, message) %></b> -<%= truncate(message.body, :length => 80)%> <%=h message.created_at %></td>   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_user_message_path(current_user) %>