<div id ="message">


<% form_for [@message] do |f| %>
<%= error_messages_for :message %>

<%= hidden_field_tag('message[user_id]', @user.id) %>
<%= hidden_field_tag('message[replyto]', @replyto) %>
<%= hidden_field_tag('message[from_email]', @replyto) %>
<%= hidden_field_tag('message[to_email]', @to) %>
<!--<div class="right"><%= link_to "See Sent Messages", user_messages_path(current_user) %></div> -->
<p>
<h1>Send Message To: 
<%= @position %>
<% if @position == "Battalion Commander" %>
<%= f.select(:bcc_email, [["Please Select", ""], ["Battalion NOK", @bnok], ["Battalion Spouses", @bspouses], ["Battalion Soldiers Only", @bsoldiers], ["Battalion Soldiers & Spouses", @bsoldierspouse], ["All Battalion Contacts", @allcontacts]]) %></h1><br />
<% elsif @position == "Command Sergeant Major" %>
<%= f.select(:bcc_email, [["Please Select", ""], ["Battalion NOK", @bnok], ["Battalion Spouses", @bspouses], ["Battalion Soldiers Only", @bsoldiers], ["Battalion Soldiers & Spouses", @bsoldierspouse], ["All Battalion Contacts", @ballcontacts]]) %></h1><br />
<% elsif @position == "Battalion FRG Leader" %>
<%= f.select(:bcc_email, [["Please Select", ""], ["Battalion NOK", @bnok], ["Battalion Spouses", @bspouses], ["Battalion Soldiers Only", @bsoldiers], ["Battalion Soldiers & Spouses", @bsoldierspouse], ["All Battalion Contacts", @ballcontacts]]) %></h1><br />
<% elsif @position == "FRSA" %>
<%= f.select(:bcc_email, [["Please Select", ""], ["Battalion NOK", @bnok], ["Battalion Spouses", @bspouses], ["Battalion Soldiers Only", @bsoldiers], ["Battalion Soldiers & Spouses", @bsoldierspouse], ["All Battalion Contacts", @ballcontacts]]) %></h1><br />
<% end %>
<% if @position == "Company Commander" %>
<%= f.select(:bcc_email, [["Please Select", ""], ["Company NOK", @nok], ["Spouses", @spouses], ["Soldiers Only", @soldiers], ["Soldiers & Spouses", @soldierspouse], ["All Company Contacts", @allcontacts]]) %></h1><br />
<% elsif @position == "1st Sergeant" %>
<%= f.select(:bcc_email, [["Please Select", ""], ["Company NOK", @nok], ["Spouses", @spouses], ["Soldiers Only", @soldiers], ["Soldiers & Spouses", @soldierspouse], ["All Company Contacts", @allcontacts]]) %></h1><br />
<% elsif @position == "FRG Leader" %>
<%= f.select(:bcc_email, [["Please Select", ""], ["Company NOK", @nok], ["Spouses", @spouses], ["Soldiers Only", @soldiers], ["Soldiers & Spouses", @soldierspouse], ["All Company Contacts", @allcontacts]]) %></h1><br />
<% end %>
<p>Subject:<br /><%= f.text_field :subject, :size => 90 %><br /> </p>  
<p>Message:<br /><%= f.text_area :body, :cols => 117, :rows => 15 %><br /></p>
</p>
    <%= f.submit "Send" %>
<% end %>
</div>
