<h1>New message</h1>

<% form_for [@message] do |f| %>


<%= hidden_field_tag('message[user_id]', @user.id) %>
<%= hidden_field_tag('message[replyto]', @replyto) %>

Reply To:<%= @replyto %>

To: <%= f.select(:bcc_email, [["Please Select", ""], ["Company NOK", @nok], ["Spouses", @spouses], ["Soldiers Only", @soldiers], ["Soldiers & Spouses", @soldierspouse], ["All Company Contacts", @allcontacts]]) %><br />
Subject:<%= f.text_field :subject %><br />   
Message:	<%= f.text_area :body %><br />

    <%= f.submit "Submit" %>
<% end %>
 
