<p>
  <b>Relationship:</b>
  <%=h @additional.relationship %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @additional.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @additional.lastname %>
</p>

<p>
  <b>Address:</b>
  <%=h @additional.address %>
</p>

<p>
  <b>City:</b>
  <%=h @additional.city %>
</p>

<p>
  <b>State:</b>
  <%=h @additional.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @additional.zip %>
</p>

<p>
  <b>Cellphone:</b>
  <%=h @additional.cellphone %>
</p>

<p>
  <b>Addphone:</b>
  <%=h @additional.addphone %>
</p>

<p>
  <b>Email:</b>
  <%=h @additional.email %>
</p>

<p>
  <b>Soldier:</b>
  <%=h @additional.soldier_id %>
</p>


<%= link_to 'Edit', edit_additional_path(@additional) %> |
<%= link_to 'Back', additionals_path %>