
<div id='user-bar-greeting'>
<% if current_user.position == 'Battalion Commander' -%>
<%= link_to 'Dashboard', battalion_path(current_user.battalion_id), { :title => "Dashboard" } %> |
<% elsif current_user.position == 'FRSA' -%>
<%= link_to 'Dashboard', battalion_path(current_user.battalion_id) %> |
<% elsif current_user.position == 'Command Sergeant Major' -%>
<%= link_to 'Dashboard', battalion_path(current_user.battalion_id) %> |
<% elsif current_user.position == 'Battalion FRG Leader' -%>
<%= link_to 'Dashboard', battalion_path(current_user.battalion_id) %> |
<% elsif current_user.position == 'Company Commander' -%>
<%= link_to 'Dashboard', battalion_company_path(current_user.battalion_id, current_user.company_id) %> |
<% elsif current_user.position == '1st Sergeant' -%>
<%= link_to 'Dashboard', battalion_company_path(current_user.battalion_id, current_user.company_id) %> |
<% elsif current_user.position == 'FRG Leader' -%>
<%= link_to 'Dashboard', battalion_company_path(current_user.battalion_id, current_user.company_id) %> |
<% elsif current_user.position == 'Training Room Sergeant' -%>
<%= link_to 'Dashboard', battalion_company_path(current_user.battalion_id, current_user.company_id) %> |
 
<% else %>
 
<% end -%>
 
<%= link_to 'Send Messages', new_user_message_path(current_user.login), { :title => "Send Messages" } %> |
<%= link_to 'Training Videos', videos_path, { :title => "Training Videos" } %> |

<% if !current_user %>
  <%= link_to "Register", new_account_path %> |
  <%= link_to "Log In", new_user_session_path %> |
<% else %>
  <%= link_to "Profile", account_path %> |
  <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
<% end %>
</div>



