<p>
  <b>Relationship:</b>
  <%=h @primary.relationship %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @primary.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @primary.lastname %>
</p>

<p>
  <b>Address:</b>
  <%=h @primary.address %>
</p>

<p>
  <b>City:</b>
  <%=h @primary.city %>
</p>

<p>
  <b>State:</b>
  <%=h @primary.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @primary.zip %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @primary.birth_date %>
</p>

<p>
  <b>Cellphone:</b>
  <%=h @primary.cellphone %>
</p>

<p>
  <b>Cellphonecarrier:</b>
  <%=h @primary.cellphonecarrier %>
</p>

<p>
  <b>Sms:</b>
  <%=h @primary.sms %>
</p>

<p>
  <b>Addphone:</b>
  <%=h @primary.addphone %>
</p>

<p>
  <b>Email:</b>
  <%=h @primary.email %>
</p>

<p>
  <b>Soldier:</b>
  <%=h @primary.soldier_id %>
</p>


<%= link_to 'Edit', edit_primary_path(@primary) %> |
<%= link_to 'Back', primaries_path %>