<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
  <head>  
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  

<body> 
<p> 
Hi,
</p>
<p>
A new Soldier, <%= @soldier.rank %> <%= @soldier.lastname %>, has joined <%= @soldier.company.name %>.
</p>
<p>
<%= @soldier.rank %> <%= @soldier.lastname %>'s Spouse is: <br />

Name: <%= @primary.firstname %> <%= @primary.lastname %><br />
Email: <%= @primary.email %><br />
Phone: <%= @primary.cellphone %><br />
</p>
<p>
Please be sure to welcome this spouse into <%= @soldier.company.name %>.
</p>
</body> 
</html>