<h1>Editing company</h1>

<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :installation_id %><br />
    <%= f.text_field :installation_id %>
  </p>
  <p>
    <%= f.label :battalion_id, "Battalion/Squadron:" %><br />
    <%= f.collection_select(:battalion_id, @battalion, :id, :unit, {:include_blank => true}) %>
  </p>
  <p><div class="red">
    <%= f.label :attached_id, "**If you are currently attached to another Battalion/Squadron:" %><br />
    <%= f.collection_select(:attached_id, @battalion, :id, :unit, {:include_blank => true}) %>
  </div></p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>