<h1>Editing company</h1>

<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :installation_id %><br />
    <%= f.text_field :installation_id %>
  </p>
  <p>
    <%= f.label :battalion_id %><br />
    <%= f.text_field :battalion_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>