<h1>Editing company</h1>

<% form_for([:battalion, @company]) do |f| %>
  <%= f.error_messages %>

  <p><div class="red">
    <%= f.label :attached_id, "**If you are currently attached to another Battalion/Squadron:" %><br />
    <%= f.collection_select(:attached_id, @attached, :id, :unit, {:include_blank => true}) %>
  </div></p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>

Platoons:<br />
	<%= link_to "Add A Platoon", new_battalion_company_platoon_path(@battalion, @company)%><br />
	<% @platoons.each do |platoon| %>
		<%=h platoon.name %> | <%= link_to 'Edit', edit_battalion_company_platoon_path(@battalion, @company, platoon) %>
	
	<% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', companies_path %>