
<div class="fields">
	<h2>Additional Contact</h2>
	<div class="form_bg">
	
	
      <p>
        <%= f.label (:firstname, "First Name:") %>
	    <%= f.text_field :firstname %>

		<%= f.label (:lastname, "Last Name:") %>
	    <%= f.text_field :lastname %>

	 	<%= f.label (:address, "Address:") %>
	    <%= f.text_field :address %>

	  	<%= f.label (:city, "City:") %>
	    <%= f.text_field :city %>

	  	<%= f.label (:state, "State:") %>
	    <%= f.text_field :state %>

	  	<%= f.label (:zip, "Zip:") %>
	    <%= f.text_field :zip %>

	  	<%= f.label (:email, "E-Mail:") %>
	    <%= f.text_field :email %>

	  	<%= f.label (:cellphone, "Cell Phone:") %>
	    <%= f.text_field :cellphone %>

	  	<%= f.label (:addphone, "Additional Phone Number:") %>
	    <%= f.text_field :addphone %>
      </p>
   <%= remove_child_link "remove", f %>
  </p>



</div>	
</div>

  