<%= link_to image_tag("../images/buttons/edit.png", :border=>0), edit_battalion_company_soldier_path(@battalion, @company, @soldier) %> Edit this Soldier.
<%= link_to image_tag("../images/buttons/delete.png", :border=>0), battalion_company_soldier_path(@battalion,@company, @soldier), :confirm => 'Are you sure?', :method => :delete %> Delete this Soldier.
<div id="soldier">
<h1>Soldier</h1>	
		
		<div id="soldier_info">
		<b><%=h @soldier.rank %> <%=h @soldier.firstname %> <%=h @soldier.lastname %></b><br />
		   <%=h @soldier.maritalstatus %><br />


		  <%=h @soldier.address %><br />
		  <%=h @soldier.city %>, <%=h @soldier.state %> <%=h @soldier.zip %><br />

		  <%=h @soldier.cellphone %> (cell)<br />
		  <%=h @soldier.addphone %><br />

		  <%=h @soldier.email %><br />

		</div>
<h1>Next of Kin</h1>
	<div id="soldier_nok">
		<% @primarys.each do |primary| %>
		<%=h primary.relationship %><br />
		<%=h primary.birth_date %>  <br />
		<p>
		<%=h primary.firstname %> <%=h primary.lastname %><br />
		<%=h primary.address %><br />
		<%=h primary.city %>, <%=h primary.state %> <%=h primary.zip %><br />
		</p>
		<p>
		<%=h primary.email %><br />
		<%=h primary.cellphone %><br />
		<%=h primary.cellphonecarrier %><br />
		<%=h primary.sms %>
		<%=h primary.addphone %><br />
		</p>
				
		<% end %>
  		
	</div>
<h1>Children</h1>
	<div id="soldier_nok">
		<% @children.each do |child| %>
		<p>
		<%=h child.firstname %>	
		<%=h child.lastname %>	
		<%=h child.birth_date %>
		</p>	
		<% end %>
	 </div>

  	<% @addi.each do |additional| %>
<h1>Additional Contact</h1>
<%= link_to image_tag("../images/buttons/delete.png", :border=>0), battalion_company_soldier_additional_path(@battalion,@company, @soldier,@addi), :confirm => 'Are you sure?', :method => :delete %> Delete this Additional Contact.
<div id="soldier_add">
	<%=h additional.relationship %><br />
	<p>
	<%=h additional.firstname %> <%=h additional.lastname %><br />
	<%=h additional.address %><br />
	<%=h additional.city %>, <%=h additional.state %> <%=h additional.zip %><br />
	</p>
	<p>
	<%=h additional.email %><br />
	<%=h additional.cellphone %><br />
	<%=h additional.addphone %><br />
	</p>
	</div>
	<% end %>
	<% if @soldier.additionals.empty? %>
	 
	<% end %>

</div>