<div class="fields">
	<h1>New Company/Troop/Battery</h1>
	<div class="form_bg">
    <%= f.text_field :name, :help => "*optional" %>
	<%= f.text_field :login, :label => "Username" %>
	<%= f.text_field :email %>
   

    <%= f.label :position %><br />
    <%= f.select(:position, [["Please Select", ""], ["Soldier", "Soldier"], ["Battalion Commander", "Battalion Commander"], ["Command Sergeant Major", "Command Sergeant Major"], ["Rear-D Commander", "Rear-D Commander"], ["FRSA", "FRSA"], ["Battalion FRG Leader", "Battalion FRG Leader"], ["Battalion FRG Co-Leader", "Battalion FRG Co-Leader"], ["Company Commander", "Company Commander"], ["1st Sergeant", "1st Sergeant"], ["Training Room Sergeant", "Training Room Sergeant"], ["FRG Leader", "FRG Leader"], ["POC", "POC"]]) %> 


</div>
</div>