<div id="battalion_show">

<h1><%= @battalion.name %><br /></h1>
<h2><p><%= @battalion.unit %><br /></p>
<%= @battalion.installation %> </h2><br />
<div id="battalion_show_team">
Battalion Commander: LTC <%= @bc.name %><br />
Command Sergeant Major: CSM <%= @sm.name %><br />
<br />
</div>
<br />

<% content_for :column do -%>
<div id="battalion_show_sidebar">

	<% @company.each do |c| %>
	  
	    <p><%= link_to c.name, battalion_company_path(@battalion, c) %></p>

	 
	<% end %>

<br />
</div>
<% end -%>

<% content_for :dashboard do -%>
	*** This area will be used to give updates on the battalion. ***<br />
	Examples:<br />
	-Chaos company added two new spouses.<br />
	-Chaos company SSG Smith had an anniversary. <br />
<% end -%>
</div>