<div id="battalion_show">

<h1><%= @battalion.name %><br /></h1>
<h2><p><%= @battalion.unit %><br /></p>
<%= @battalion.installation %> </h2><br />
<div id="battalion_show_team">
Battalion Commander: LTC <%= @bc.name %><br />
Command Sergeant Major: CSM <%= @sm.name %><br />
<br />
</div>
<br />

<% content_for :column do -%>
<div id="battalion_show_sidebar">

	<% @company.each do |c| %>
	  
	    <p><%= link_to c.name, battalion_company_path(@battalion, c) %></p>

	 
	<% end %>
	
<div class="red">	Attached Units: </div>
	<% @attached.each do |a| %>
	  
	    <p><%= link_to a.name, battalion_company_path(@attached, a) %></p>

	 
	<% end %>

<br />
</div>
<% end -%>

<% content_for :dashboard do -%>

	<div id="bc_box">
		<% @soldier.each do |soldier| %>
		<div id="bc_focus">
		   	<div class="right">
		    <%= link_to image_tag("../images/buttons/info.png", :border=>0), battalion_company_soldier_path(@battalion, @company,soldier) %>
		    <%= link_to image_tag("../images/buttons/edit.png", :border=>0), edit_battalion_company_soldier_path(@battalion, @company,soldier) %>
			</div>
		   <%=h soldier.rank %> <%=h soldier.lastname %><br />
		   Cell: <%=h soldier.cellphone %><br />
		   <% soldier.primaries.each do |primary| %>
		   <p>
		   <%=h primary.firstname %> <%=h primary.lastname %> (<%=h primary.relationship %>)<br />

		   (c):<%=h primary.cellphone %><br />
		   <%=h primary.email %><br />
		   </p>
			<% end %>

		</div>
		<% end %>
	</div>
<% end -%>
</div>