<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
  <head>  
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  

<body>  
	<h1>Hi <%= @soldier.rank %> <%= @soldier.lastname %></h1>  
<p>  You have successfully signed up to example.com, and your username is <br/>  To login to the site, 			    just follow this link: . </p>  <p>Thanks for joining and have a great day!</p>  

	<% @soldier.primaries.each do |primary| %>
	<%=h primary.relationship %><br />
	<% end %>
	Your FRG leader is <%= @soldier.company.users.find_by_position('FRG Leader').name %>
	and can be emailed at:
	<%= @soldier.company.users.find_by_position('FRG Leader').email %>
</body> 
</html>