<div class="fields">
	<h1>New Unit</h1>
	<div class="form_bg">
			  <p>
			    <%= f.label :unit %><br />
			    <%= f.text_field :unit %>
			  </p>
			  <p>
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			  </p>
			<%= remove_child_link "remove", f %>
		Battalion Commander
		<p>	<% f.fields_for :users do |user_form| %>
			<%= user_form.label (:name, "Name:") %>
			<%= user_form.text_field :name%>
			<br />
			<%= user_form.label (:name, "Login:") %>
			<%= user_form.text_field :login%>
			<br />
			<%= user_form.label (:email, "E-Mail:") %>
			<%= user_form.text_field :email%>
			<br />
			<%= user_form.label (:position, "Position:") %>
			<%= user_form.text_field :position%>
			<br />
			<% end %>
		</p>
		CSM
		
	</div>
</div>
